html {
	position: relative;
	min-height: 100vh;
}
body {
	font: 14px "Century Gothic", Futura, sans-serif;
	margin: 0;
	padding: 0;
}
footer {
	bottom: 0;
}
button > svg {
    pointer-events: none;
}
.cardButtons {
	bottom: 1rem;
	right: 1rem;
	width: fit-content;
}
.cardButtons > button + button {
	margin: 0 0 0 .5rem;
}